@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #191c1f;
}

.container {
	width: 90%;
	margin: auto;
}

.flex {
	display: flex;
	justify-content: space-between;
    gap: 30px;
}

.flex h2{
    padding: 0 0 20px 0;
}

.flex ol>li{
    padding: 0 0 20px 0;
}

.flex ul>li{
	list-style-type: disc;
}

.flex ul>li li{
	list-style-type: circle;
}

.flex .right,
.flex .left {
	width: 50%;
    margin: 50px 0;
    border: #bcbcbc solid 1px;
    border-radius: 10px;
    padding: 20px 30px;
}

.scroll{
    overflow: scroll;
    width: 100%;
    height: 400px;
}

header{
    padding: 2rem 0;
}

footer {
	padding: 26px 5rem;
	background-color: #191c1f;
	color: white;
}

footer span {
	color: white;
	font-weight: 700;
}
